.container{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  .link{
    text-decoration: none;
  }

  .button{
    display: flex;
    align-items:  flex-start;
    flex-direction: column;
  }
}